#card{
    border-bottom-color: rgb(204, 204, 54);
    border-bottom-style: solid;
    border-top-color: rgb(204, 204, 54);
    border-top-style: solid;
    border-left-color: #568203;
    border-left-style: solid;
    border-right-color: #568203;
    border-right-style: solid;
}