#navbar {
  
    background-color: #568203;
    border-bottom-color: yellow;
    border-bottom-style: solid;
  
  }
  body{
      background-color: rgb(245, 242, 239);
  }
  #side{
      background-color: white;
     position: fixed;
  }

  #active{
    background-color: #568203;
    border-right-color: yellow;
    border-right-style: solid;
  }
  #create{
    border-color: #568203;
    color:#568203;
}
#create:hover {
  background-color: #568203;
  color: yellow;
}
#table-head {
  background-color: #568203;
  border-bottom-color: yellow;
  border-bottom-style: solid;
  color: white;
}
#card {
  border-bottom-color: rgb(204, 204, 54);
  border-bottom-style: solid;
  border-top-color: rgb(204, 204, 54);
  border-top-style: solid;
  border-left-color: #568203;
  border-left-style: solid;
  border-right-color: #568203;
  border-right-style: solid;
}
#firstname {
  border-bottom-color: #568203;
  border-left-color: white;
  border-right-color: white;
  border-top-color: white;
}
#last_name {
  border-bottom-color: #568203;
  border-left-color: white;
  border-right-color: white;
  border-top-color: white;
}
#email {
  border-bottom-color: #568203;
  border-left-color: white;
  border-right-color: white;
  border-top-color: white;
}

#select {
    border-bottom-color: #568203;
    border-left-color: white;
    border-right-color: white;
    border-top-color: white;
  }
  #password {
    border-bottom-color: #568203;
    border-left-color: white;
    border-right-color: white;
    border-top-color: white;
  }
  #password2 {
    border-bottom-color: #568203;
    border-left-color: white;
    border-right-color: white;
    border-top-color: white;
  }
  
