#navbar {
  
    background-color: #0c4dad;
    border-bottom-color: yellow;
    border-bottom-style: solid;
  
  }
  body{
      background-color: rgb(245, 242, 239);
  }
  #side{
      background-color: white;
     position: fixed;
  }

  #active{
     
    border-right-color: yellow;
    border-right-style: solid;
  }

  #create{
    border-color: #1c1b8a;
    color:#568203;
   
   
}
#create:hover {
  background-color: #568203;
  color: yellow;
}

#table-head {
  background-color: #568203;
  border-bottom-color: yellow;
  border-bottom-style: solid;
  color: white;
}

#firstname {
  border-bottom-color: #568203;
  border-left-color: white;
  border-right-color: white;
  border-top-color: white;
}
#last_name {
  border-bottom-color: #568203;
  border-left-color: white;
  border-right-color: white;
  border-top-color: white;
}
#email {
  border-bottom-color: #568203;
  border-left-color: white;
  border-right-color: white;
  border-top-color: white;
}

#select {
    border-bottom-color: #568203;
    border-left-color: white;
    border-right-color: white;
    border-top-color: white;
  }
  #password {
    border-bottom-color: #568203;
    border-left-color: white;
    border-right-color: white;
    border-top-color: white;
  }
  #password2 {
    border-bottom-color: #568203;
    border-left-color: white;
    border-right-color: white;
    border-top-color: white;
  }
  
